/*
 * Layout: 
 * Basic Film
 *
 * A stage layout patterned after a 35mm motion picture film frame. The cue image is presented in the upper 2/3 of the frame,
 * mirroring the proportions of a CinemaScope film frame. The text and interface appear in the space below.
 *
*/

.stage-layout-element-basic-film {
    font-size: 4vmin;
    line-height: 1.15em;
    height: 100vh;
    
    ol {
        list-style-type: none;
    }
            
    .image {
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    p {
        margin: 0 0 0.5em 0;
    }

    ol li {
        cursor: pointer;
        padding: 0 0 0.2em 0;
    }

    .image-holder {
        height: 67.4%;
        
        div.image {
            height: 100%;
            background-size: 100% auto;
        }
    }

    .dialog-holder {
        bottom: 0;
        height: 30%;
        left: 0;
        overflow: hidden; // set overflow to hidden since Perfect Scrollbar is in use
        width: 100%;
        z-index: 500;        
    }

    .dialog {
        padding: 0 0 0 1em;
        width: 95%;
    }
    
    p {
        margin: 0.5em;
    }
    
    ol {
        margin: 0 1.25em 1.25em;
    }
}
