/*
 * Skin: 
 * Bronze
 *
 * A dark bronze color scheme.
 *
*/

.skin-bronze {
    background: #241f1c;
    border-color: #362f2a;
    
    color: #e3dbdb;

    ol.responses {
        li {
            color: #e6d393;
        }
        
        li:hover {
            color: #e84646;
        }
    }

    svg.feature-glyphs path {
        fill: #e84646;
        stroke: #e84646;
    }
}
