/*
 * Skin: 
 * Forest
 *
 * A dark green color scheme.
 *
*/

.skin-forest {
    background: #1c241e;
    border-color: #2a362d;
    
    color: #dde3db;
    
    ol.responses {
        li {
            color: #c0e2b8;
        }
        
        li:hover {
            color: #d8c68b;
        }
    }

    svg.feature-glyphs path {
        fill: #d8c68b;
        stroke: #d8c68b;
    }
}
