// Theme implementing a light tan color scheme

.theme-khaki {
    background: #f3f1ed;
    color: #3e3030;
    
    li {
        color: #8a7220;
    }
    
    li:hover {
        color: #e84646;
    }

    div.image {
        box-shadow: 0 0 42px #241f1c;
    }

    svg.feature-glyphs path {
        fill: #e84646;
        stroke: #e84646;
    }
}
