// Theme implementing a light green color scheme

.theme-meadow {
    background: #e7eae6;
    color: #1c241e;
    
    li {
        color: #5f7659;
    }
    
    li:hover {
        color: #8a7220;
    }

    div.image {
        box-shadow: 0 0 42px #1c241e;
    }

    svg.feature-glyphs path {
        fill: #8a7220;
        stroke: #8a7220;
    }
}
