/*
 * Skin: 
 * Seafoam
 *
 * A light blue color scheme.
 *
*/

.skin-seafoam {
    background: #f0f2f4;
    border-color: #e0e6f0;

    color: #1c2024;
    
    li {
        color: #2663a0;
    }
    
    li:hover {
        color: #93aca7;
    }

    svg.feature-glyphs path {
        fill: #93aca7;
        stroke: #93aca7;
    }
}
