/*
 * Skin:
 * Stormcloud
 *
 * A dark blue color scheme
 *
*/

.skin-stormcloud {
    background: #1c2024;
    border-color: #2a3036;
    
    color: #f0f2f4;

    li {
        color: #aecdec;
    }
    
    li:hover {
        color: #93aca7;
    }

    svg.feature-glyphs path {
        fill: #93aca7;
        stroke: #93aca7;
    }
}
