/*
 * The first set of includes points to styles in the include/references directory.
 * These reference files point to material from the include/styles directory for easy inclusion by stage designers.
 *
*/

@import '../../include/reference/styles/base';
@import '../../include/reference/styles/skinsets/basic';
@import '../../include/reference/styles/layout/compo/standard';
@import '../../include/reference/styles/layout/element/basic-film';

/*
 * The second set of includes point directly into the include/styles directory.
 * These are styles for specific stage components - in this case, the typeface used by the stage elements and the glyph used to indicate to the user that they can click to advance to the next piece of dialog.
 *
*/

@import '../../include/styles/typefaces/poly-basic';
@import '../../include/styles/features/element/dialog/next-indicator-fading-arrow';

/*
 * Lastly, here's a vendor-provided style for the scrollbar that most dialog elements use when their content is too big to show all at once.
 *
*/

@import '../../include/styles/vendor/perfect-scrollbar';

#scenario-stage {
    font-family: polyregular; // the stage uses the Georgia font in large type as specified by this type style

    // stage-specific styles for the SVG arrow glyph
    svg.feature-glyphs path#next-arrow {
        stroke-width: 8;
        fill: none;
    }

    .compo {
        .skin-khaki; // the element uses the light "khaki" skin
        .stage-layout-compo-standard;

        .element-elCurtain {
            .viewportRatio(1.6, 1);
        }

        .element-main {
            .skin-khaki; // "khaki" skin is included here too to ensure the background color will be continuous when scrolling down
            .stage-layout-element-basic-film;

            div.image {
                box-shadow: 0 0 42px #000;
            }
        }
    }
    
    .compo.compo-curtain {
        background: #000;
    }
}
