/*
 * The first set of includes points to styles in the include/references directory.
 * These reference files point to material from the include/styles directory for easy inclusion by stage designers.
 *
*/

@import '../../include/reference/styles/base';
@import '../../include/reference/styles/skinsets/basic';
@import '../../include/reference/styles/layout/compo/standard';
@import '../../include/reference/styles/layout/element/basic-film';
@import '../../include/reference/styles/layout/frame/16x10';

/*
 * The second set of includes point directly into the include/styles directory.
 * These are styles for specific stage components - in this case, the typeface used by the stage elements and the glyph used to indicate to the user that they can click to advance to the next piece of dialog.
 *
*/

@import '../../include/styles/typefaces/georgia-basic';
@import '../../include/styles/features/element/dialog/next-indicator-fading-arrow';

/*
 * Lastly, here's a vendor-provided style for the scrollbar that most dialog elements use when their content is too big to show all at once.
 *
*/

@import '../../include/styles/vendor/perfect-scrollbar';

.scenario-stage-holder {
    background: #000;
    height: 100%;
    display: block;
}

#scenario-stage {
    .typeface-georgia-basic; // the stage uses the Georgia font in large type as specified by this type style

    // stage-specific styles for the SVG arrow glyph
    svg.feature-glyphs path#next-arrow {
        stroke-width: 8;
        fill: none;
    }

    .compo {
        .stage-layout-compo-standard;
    
        .element .element-inner {
            .stage-layout-frame-16x10;
        }

        .element-main {
            .stage-layout-element-basic-film;
            .skin-khaki; // the element uses the light "khaki" skin

            div.image {
                box-shadow: 0 0 42px #000;
            }
        }
    }
    
    .compo.compo-titleCurtain .media-holder {
        .stage-layout-frame-16x10;
    }
}
